<h2>About Me</h2>
<div class="container">
    <div class="text">
        One of my passionate hobbies is Jiu Jitsu. I've been training for a total of abotu 6 years now. I love the physical and mental aspect of the sport. It feels like playing chess but with the human body.
    </div>
    <div class="text">
        I have a strong appreciation for art history and music. From researching story and history behind Francisco Goya's "black paintings" to tuning the world out to Erik Satie's Gymnopedie No.1
    </div>
</div>

<iframe class="chessstyle" src="https://www.chess.com/daily_puzzle" frameborder="0"></iframe>